/*@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');*/

/* ---- Message Box Modal Dialog ----- */

.messageModal .modal-window {
    width: 30%;
    margin: 10% 35%;
}

.messageModal .modal-head {
    background-color: #0066a1;
    padding: 10px 15px 6px 15px;
}

.messageModal .modal-window {
    padding: 0;
}

.messageModal hr {
    display: none;
}

.messageModal h3 {
    color: #ffffff;
}

.messageModal .modal-content {
    padding: 15px;
}

.messageModal .modal-content p.message-info:before {
    content: '\f05a';
}

.messageModal .modal-content p.message-info {
    color: #00529b;
    /*background-color: #BDE5F8;*/
}

.messageModal .modal-content p.message-success:before {
    content: '\f00c';
}

.messageModal .modal-content p.message-success {
    color: #4f8a10;
    /*background-color: #DFF2BF*/
}

.messageModal .modal-content p.message-warning:before {
    content: '\f071';
}

.messageModal .modal-content p.message-warning {
    color: #9f6000;
    /*background-color: #FEEFB3;*/
}

.messageModal .modal-content p.message-error:before {
    content: '\f057';
}

.messageModal .modal-content p.message-error {
    color: #d8000c;
    /*background-color: #FFD2D2;*/
}

.messageModal .modal-content p.message-info:before,
.messageModal .modal-content p.message-success:before,
.messageModal .modal-content p.message-warning:before,
.messageModal .modal-content p.message-error:before {
    font-family: FontAwesome;
    font-style: normal;
    margin-right: 5px;
}
