<div id="createRuleModal" class="modal">
    <!-- Modal content -->
    <div class="modal-window">
        <div class="modal-head">
            <h3>Create new Module</h3>
            <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')">
                <span aria-hidden="true">x</span>
            </button>
        </div>

        <div class="modal-content">
            <div [ngSwitch]="pmoduleCreated">
                <div *ngSwitchCase="false">
                    <form [formGroup]="stage1Form" role="stage1Form" (ngSubmit)="saveRule(stage1Form.value)">

                        <div class="form-group">
                            <p>
                                <label for="name">Name</label>
                                <input [formControl]="name" class="form-control" [ngClass]="{'validation-field': stage1Form.get('name').hasError('required')}"
                                    type="text" name="name" id="name" placeholder="name" required>
                                <small class="text-danger" *ngIf="stage1Form.get('name').touched && stage1Form.get('name').hasError('required')">
                                    <br />
                                    This field is required
                                </small>
                            </p>
                        </div>

                        <p>
                            <label for="usage">Usage</label>
                            <select [ngModel]="usage" name="usage" id="usage" [ngModelOptions]="{standalone: true}">
                                <option value="DP">Data preparation</option>
                                <option value="DH">Data historization</option>
                                <option value="DA">Data aggregate</option>
                                <option value="RL">Rule</option>
                                <option value="MD">Model</option>
                                <option value="JB">Job</option>
                                <option value="RC">Recovery</option>
                            </select>
                        </p>

                        <p>
                            <label for="type">Type</label>
                            <select [ngModel]="type" name="type" id="type" [ngModelOptions]="{standalone: true}">
                                <option value="PYTHON">PYTHON</option>
                                <option value="Java">Java</option>
                                <option value="PMML">PMML</option>
                            </select>
                        </p>

                        <div class="form-group">
                            <p class="large">
                                <label for="usageDescription">Usage</label>
                                <textarea [formControl]="usageDescription" class="form-control" [ngClass]="{'validation-field': stage1Form.get('usageDescription').hasError('required')}"
                                    rows="10" cols="1" id="usageDescription" name="usageDescription" required></textarea>
                                <small class="text-danger" *ngIf="stage1Form.get('usageDescription').touched && stage1Form.get('usageDescription').hasError('required')">
                                    <br />
                                    This field is required
                                </small>
                            </p>
                        </div>

                        <div class="button-bar">
                            <ul class="k-actions">
                                <li>
                                    <button (click)="cancel()" id="buttonCancel" class="btcancel">Cancel</button>
                                </li>
                                <li>
                                    <button [disabled]="stage1Form.invalid" type="submit" id="buttonNext" class="btsubmit btnext">Next</button>
                                </li>
                            </ul>
                        </div><!-- button-bar -->
                    </form>
                </div>

                <div *ngSwitchCase="true">
                    <form [formGroup]="stage2Form" role="stage2Form" (ngSubmit)="savePmoduleVersion(false)">

                        <div class="form-group">
                            <h4>Details</h4>
                            <p class="large">
                                <label for="versionDescription">Description</label>
                                <textarea [formControl]="versionDescription" class="form-control" [ngClass]="{'validation-field': stage2Form.get('versionDescription').hasError('required')}"
                                    rows="10" cols="1" id="versionDescription" name="versionDescription" required></textarea>
                                <small class="text-danger" *ngIf="stage2Form.get('versionDescription').touched && stage2Form.get('versionDescription').hasError('required')">
                                    <br />
                                    This field is required
                                </small>
                            </p>
                        </div>

                        <h4>Content</h4>
                        <div class="form-group fileinput fileinput-new" data-provides="fileinput">
                            <span class="btn btn-default btn-file"><span>Upload file</span>
                                <input type="file" (change)="fileChanged($event)" name="content" id="content">/</span>
                                <input type="hidden" name="fileHidden" formControlName="uploadableFile"/>
                            <span class="fileinput-filename"></span><span class="fileinput-new">No file chosen</span>
                        </div>

                        <div class="button-bar">
                            <ul class="k-actions">
                                <li>
                                    <button id="BtnCancelTwo" class="btcancel" (click)="cancel()">Cancel</button>
                                </li>
                                <li>
                                    <button [disabled]="stage2Form.invalid" type="submit" id="BtnSaveRule" class="btsubmit btsavedeploy">Submit</button>
                                </li>
                                <li>
                                    <button [disabled]="stage2Form.invalid" type="submit" id="BtnSaveDeploy" class="btsubmit btnext">Submit & Deploy
                                    </button>
                                </li>
                            </ul>
                        </div><!-- button-bar -->
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>