<div id="container" class="landing">
    <header role="banner">
        <h1>Welcome on the Fraud Cockpit</h1>
    </header>
    <div id="wrapper">
        <div id="main">
            <div id="processing" class="navItem1 div_processing"><a (click)="navigate('management')"><i class="fas fa-list-ul"></i><span>Processing</span></a></div>
            <div id="cockpit" class="navItem2 div_cockpit"><a (click)="navigate('management')"><i class="fas fa-cogs"></i><span>Configuration</span></a></div>
            <div id="3" class="navItem3 "><a href="#"></a></div>
            <div id="4" class="navItem4 "><a href="#"></a></div>
        </div>
    </div>
</div>
