<div class="splitPanel">
    <div class="panel-container">

        <div class="panel-left">
            <table class="k-data-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th class="descripten">Description/Summary</th>
                    <th class="domain">Domain</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                <tr class="{{searchEntry.isSelected ? 'highlightedEntry' :''}} gradeA"
                    *ngFor="let searchEntry of getFilteredActionEntries()">
                    <td>{{searchEntry.name}}</td>
                    <td>{{searchEntry.domainName}}</td>
                </tr>

                </tbody>
            </table>
            <a (click)="goBack()"><i class="fas fa-arrow-alt-circle-left"></i></a>
        </div><!-- split panel-left -->

        <div class="splitter"></div>

        <div class="panel-right" id="splitAction">
            <div class="panelRightHeader">
                <h3>Action Details</h3>
                <div id="hamburgerMenuIcon">
                    <span><i class="fas fa-bars"></i></span>
                </div>
            </div>

            <div class="k-tabbed-data">
                <ul class="tabs">
                    <li><a href="#panel0">Details</a></li>
                </ul>
                <section id="panel0" class="content">
                    <p class="medium">
                        <label>Action Name:</label>
                        <input type="text" name="type" value="{{getTargetAction().name}}" class="" disabled>
                    </p>
                    <p class="medium">
                        <label>Routing:</label>
                        <input type="text" name="type" value="Routing" class="">
                    </p>
                    <p class="medium">
                        <label>Domain:</label>
                        <input type="text" name="type" value="{{getTargetAction().domainName}}" class="" disabled>
                    </p>
                    <p class="medium">
                        <label>Destination:</label>
                        <input type="text" name="type" value="{{getTargetAction().destination}}" class="" disabled>
                    </p>
                    <div class="splitPanel splitPanelEditActions">
                        <div class="panel-container channel-split-container">

                            <div class="panel-left">
                                <ul class="panelContainerList">
                                    <li class="channelListItem">
                                        <span class="active">E-Mail Notification to Bank</span><i
                                        class="fas fa-trash-alt"></i>
                                    </li>
                                    <li class="channelListItem"><span>SMS example Channel</span><i
                                        class="fas fa-trash-alt"></i></li>
                                </ul>
                                <p id="addChannelIcon"><i class="fas fa-plus-circle"></i>
                            </div><!-- split panel-left -->

                            <div class="splitter"></div>

                            <div class="panel-right" id="splitRoutingConf">
                                <h3>Channel: E-Mail Notification to Bank</h3>
                                <p class="medium">
                                    <label>Cannel Name:</label>
                                    <input type="text" name="type" value="E-Mail Notification to Bank" class="">
                                </p>
                                <p class="medium">
                                    <label>Type:</label>
                                    <select>
                                        <option value="type1">E-Mail</option>
                                        <option value="type2">SMS</option>
                                        <option value="type3">Phoenix</option>
                                        <option value="type3">Notification</option>
                                        <option value="type3">Invest Tool</option>
                                    </select>
                                </p>
                                <h4>Content</h4>
                                <p>
                                    <label>From Address:</label>
                                    <input type="text" name="type" value="max.mustermann@muster.com" class="">
                                </p>
                                <p>
                                    <label>To Address:</label>
                                    <input type="text" name="type" value="mona.musterfrau@muster.com" class="">
                                </p>
                                <p>
                                    <label>CC Address:</label>
                                    <input type="text" name="type" value="" class="">
                                </p>
                                <p>
                                    <label>Subject:</label>
                                    <input type="text" name="type" value="Fraud Alter" class="">
                                </p>
                                <p>
                                    <label>Attachment:</label>
                                    <input type="text" name="type" value="" class="">
                                </p>
                                <p class="large">
                                    <label>Content:</label>
                                    <textarea>This is an alert message. Please follow the instructions.</textarea>
                                </p>
                                <!-- <a class="closeSplit">x</a> -->
                            </div><!-- split panel-right -->
                        </div><!-- panel-container -->
                    </div><!-- split panel -->
                </section>
            </div><!-- Tab -->
        </div><!-- split panel-right -->
    </div><!-- panel-container -->


    <div class="button-bar">
        <ul class="k-actions">
            <li>
                <button href="#" id="safeAction" class="btsubmit" role="button">Save</button>
            </li>
        </ul>
    </div><!-- button-bar -->
</div>
