table.k-data-table {
    clear: both;
}

div.contentBox {
    background-color: #ffffff;
    padding: 5px 15px 15px 15px;
    width: 100%;
    float: left;
    margin-left: 0;
}

#wrapper {
    padding: 11px 0 0 180px;
    background-color: #ffffff;
    width: auto;
}

#main {
    padding: 15px;
    margin-left: 0;
}

td,
th {
    font-size: 0.75rem;
}

/*-------------------QUICK FILTER--------------------*/

ul#quickFilterList {
    float: left;
    width: 100%;
    margin: 10px 0;
}

#quickFilterList h4 {
    padding-right: 15px;
}

#quickFilterList li {
    padding: 0;
    display: inline-block;
    float: left;
}

#quickFilterList a,
#quickFilterList a:link {
    padding: 5px 20px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    float: left;
    margin-right: 16px;
    text-decoration: none;
}

#quickFilterList a:hover {
    border: 1px solid #0066a1;
    color: #0066a1;
}

#quickFilterList li select {
    padding: 5px 20px;
    border-radius: 3px;
    border: 1px solid #dddddd;
}

/*------------------------------------------------------- Buttons ----------------------------------------------------*/
button.btsubmit.btcreate {
    background-color: #0066a1;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 15px;
    float: left;
    margin-bottom: 10px;
    border: none;
}

button.btsubmit.btcreate {
    background-color: #0066a1;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 15px;
    float: left;
    margin-bottom: 10px;
    border: none;
}

/* Dynamic pagination */
div.dataTables_paginate {
    float: right;
    width: auto;
    font-size: 0.9em;
    padding-top: 0.5em;
}

div.dataTables_paginate a {
    padding: 0 0.5em;
}

div.dataTables_paginate span {
    padding: 0 1em;
}

div.dataTables_paginate .paginate_button {
    cursor: pointer;
}

div.dataTables_paginate .paginate_button_disabled {
    color: #999;
    cursor: default;
}

div.dataTables_paginate .paginate_active {
    font-family: open_sansbold, 'Gill Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000;
    cursor: default;
}

td.center p {
    margin: 0;
    padding: 2px;
    text-align: center;
    border-radius: 3px;
}

td.center p.tableLabel {
    border: 1px solid #777777;
    background-color: #777777;
    color: #ffffff;
}

td.center p.labelDeploy {
    border: 1px solid olivedrab;
    background-color: olivedrab;
    color: #ffffff;
}

td.center p.labelUndeploy {
    border: 1px solid gold;
    background-color: gold;
}

/*--------------------------------------------------------------------------------------------------------------------*/
.modal {
    /*display: none;  Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* ---- Modal Content/Box ---- */

.modal-window {
    background-color: #fefefe;
    margin: 5% 10%;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    float: left;
    height: auto;
}

.modal-head {
    float: left;
    width: 100%;
}

.modal-head h3 {
    width: auto;
    color: #0066a1;
    margin-bottom: 0;
}

.modal-content {
    float: left;
    width: 100%;
    height: 100%;
    font-size: 0.9rem;
}
.modal p {
    width: 50%;
}
.modal p.large {
    width: 100%;
}
.modal input {
    width: 80%;
}
.modal #splitRoutingConf p input {
    width: 80%;
}
.modal-content label {
    height: 18px;
    display: inline-block;
    margin-top: 15px;
}
.modal-content label:first-child {
    margin-top: 0;
}
.modal select {
    width: 80%;
}
.modal #splitRoutingConf p select {
    width: 80%;
}

/* --- The Close Button --- */

.close,
.close:hover,
.close:focus {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.close a,
.close a:link,
.close a:visited,
.close a:hover,
.close a:focus,
.close a:active {
    color: #ffffff;
    text-decoration: none;
}

.modal-head hr {
    display: block;
    float: left;
    width: 100%;
    color: #0066a1;
    margin-bottom: 13px;
}
.modal-content .k-actions {
    margin-bottom: 0;
    margin-top: 15px;
}
.modal-content button {
    margin-left: 10px;
}

/* ---- Confirmation Modal ----- */

.confirmModal .modal-window {
    width: 30%;
    margin: 10% 35%;
}
.confirmModal .modal-head {
    background-color: #0066a1;
    padding: 10px 15px 6px 15px;
}
.confirmModal .modal-window {
    padding: 0;
}
.confirmModal hr {
    display: none;
}
.confirmModal h3 {
    color: #ffffff;
}
.confirmModal .modal-content {
    padding: 15px;
}

/* -------------------------------------------------------------------------------------------*/
/* ---------------   SPECIAL PAGE COMPONENTS   -----------------------------------------------*/
/* -------------------------------------------------------------------------------------------*/

/* -----   NEW CHANNEL COMPONENT (ACTION DETAILS)   -----------*/
/* ------------------------------------------------------------*/

p.channelListItem {
    /*ITEM in Split Panel left List*/
    border-bottom: 1px solid #0066a1;
    padding-bottom: 10px;
    font-size: 0.9em;
}

.channelListItem span {
    float: left;
}

#addChannelIcon {
    margin-top: 10px;
}

.splitPanelEditActions .channelListItem svg {
    width: auto !important;
    float: right;
    padding-right: 10px;
    height: 0.6em;
    margin: 0 !important;
    padding-bottom: 0;
}

.splitPanelEditActions svg {
    color: #0066a1;
    text-align: left;
    float: left;
}

#channelPlusIcon svg {
    cursor: pointer;
    clear: both;
    float: left;
    width: auto;
    margin-right: 10px;
    color: #0066a1;
}
#channelPlusIcon {
    text-align: left;
    width: auto;
    float: left;
    clear: both;
    margin-top: 5px;
}

/* -------------------- ASSIGN ACTION COMPONENT ---------------*/
/* ------------------------------------------------------------*/

select.assignAction {
    float: left;
    padding: 10px 15px;
}

.iconBarAssign {
    float: left;
    width: 10%;
}

.iconBarAssign p {
    width: 100%;
    text-align: center;
    color: #0066a1;
}

#assignActionComponent h6:nth-child(2n) {
    width: 40%;
}

#assignActionComponent h6 {
    width: 55%;
    float: left;
}

/* -------------------------------------------------------------------------------------------*/
/* ---------------   FONT ICONS / FONT AWESOM   ----------------------------------------------*/
/* -------------------------------------------------------------------------------------------*/

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
    font-size: 1.8em;
}

.svg-inline--fa.fa-w-18,
.svg-inline--fa.fa-w-16,
.svg-inline--fa.fa-w-20,
.svg-inline--fa.fa-w-14 {
    width: 100%;
    margin-bottom: 7px;
}
.svg-inline--fa.fa-w-16.fa-arrow-alt-circle-left {
    width: auto;
    float: left;
    bottom: 0;
    position: relative;
    left: 10px;
    color: #0066a1;
}
